In [33]:
import pandas as pd
import numpy as np
from datetime import datetime

- Preparing data
- model generation
- Estudiar la distribucion ver valriables por deciles 
- Estudiar el top Churn customers:
    - hacer un clustering 
    - Semente Hypotheses
    - Enrichemt and validation
    - Segment profiling

Data:
we generate time windows
- gender --> BinEncoder -> male 
- profession --> Ordinal Encoder --> 1...48
-

In [83]:
datos_raw = pd.read_csv("bankingchurn_data_modif.csv",sep = ";")
datos_raw.head()

/var/folders/99/x_thvh6101lbzztl8qnh9jyr0000gn/T/ipykernel_57910/3190646322.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  datos_raw = pd.read_csv("bankingchurn_data_modif.csv",sep = ";")

,contract_start,contract_end,date_of_birth,gender,profession,size_household,ZIP,segment,credit_rating,no_credit_rating_flag,...,online_number_of_logins_per_month,online_tranactions_per_month,advisor_contacts_last12months,customer_limit,cash_withdraws_per_month,cash_withdrawals_value,consumer_credit_value,consumer_credit_maturity,account_fee,number_of_refusals
0,2010-10-24,NaN,1991-02-11,M,Professional Services,1,76829,S2,"89,5685176247469",0,...,0,0,3,1000,4,"459,840939712736","-24011,393551989",205,15,6
1,2010-04-30,2017-10-20,1986-04-06,W,NaN,1,35104,S2,"94,2705069107966",0,...,16,8,2,1000,7,"476,334458774319","-5368,74306807524",137,15,6
2,2013-05-02,NaN,1993-04-18,M,Transportation,1,63450,S2,"93,0309465957283",0,...,26,12,2,1000,3,"332,640202190496","-9678,71341935483",624,15,4
3,2016-12-24,NaN,1994-07-29,W,Professional Services,2,9573,S3,NaN,1,...,0,0,4,1050,4,"378,32474448561","-12110,3059156975",1263,10,7
4,2011-10-01,NaN,1990-10-28,W,Research,1,66916,S2,"90,45766439571",0,...,23,18,3,1000,4,"471,509299299279",0,521,10,3

In [84]:
datos_raw.columns

Index(['contract_start', 'contract_end', 'date_of_birth', 'gender',
       'profession', 'size_household', 'ZIP', 'segment', 'credit_rating',
       'no_credit_rating_flag', 'main_account_flag', 'online_banking_flag',
       'tele_banking_flag', 'creditcard_flag', 'insurance_life_flag',
       'insurance_house_flag', 'insurance_car_flag', 'insurance_other_flag',
       'mortgage_flag', 'portfolio_flag', 'last_balance',
       'last_balance_minus_6_months', 'last_balance_minus_12_months',
       'income_salary_per_year', 'income_deposits_per_year',
       'income_securities_per_year', 'insurance_life_premium_per_month',
       'insurance_house_premium_per_year', 'insurance_car_premium_per_year',
       'mortgage_value', 'mortgage_interest', 'mortgage_downpayment',
       'mortgage_dayuntilmaturity', 'mortgage_numbers',
       'online_number_of_logins_per_month', 'online_tranactions_per_month',
       'advisor_contacts_last12months', 'customer_limit',
       'cash_withdraws_per_month', 'cash_withdrawals_value',
       'consumer_credit_value', 'consumer_credit_maturity', 'account_fee',
       'number_of_refusals'],
      dtype='object')

Convert dates

In [85]:
datos_raw["contract_start"] = pd.to_datetime(datos_raw["contract_start"])
datos_raw["contract_end"] = pd.to_datetime(datos_raw["contract_end"])
datos_raw["date_of_birth"] = pd.to_datetime(datos_raw["date_of_birth"])

In [86]:
datos_raw["Male"] = np.where(datos_raw["gender"]=="M", 1, 0)
datos_raw = datos_raw.drop("gender",axis = 1)

Count churn clients

In [87]:
datos_raw["contract_end"].dropna().count()

4871

Count Total clients

In [88]:
datos_raw["contract_start"].count()

100000

Copy data

In [89]:
datos = datos_raw.copy()

In [90]:
year_win = (pd.DatetimeIndex(datos["contract_end"].dropna()).year).drop_duplicates()

print(f"Tenemos {len(year_win)} posibles ventanas temporales que corresponden a {year_win.values}")

Tenemos 2 posibles ventanas temporales que corresponden a [2017 2018]

In [97]:
date_train_init_str = "2010-01-01"
date_train_end_str = "2018-01-01"
date_train_init = datetime.strptime(date_train_init_str,"%Y-%m-%d")
date_train_end = datetime.strptime(date_train_end_str,"%Y-%m-%d")
datos["contract_start"] = pd.to_datetime(datos["contract_start"])
datos["contract_end"] = pd.to_datetime(datos["contract_end"])
datos["contract_end"] = np.where(datos["contract_end"]<date_train_end , None, datos["contract_end"])
datos["churn"] = np.where(datos["contract_end"].isna(), 0, 1)
datos["age"] = ((date_train_end - datos["date_of_birth"] )/ np.timedelta64(1, 'Y')).astype(int)

In [105]:
datos.profession.value_counts().count()

48

datetime.date(2001, 1, 1)

0        38694,3768752972
1        77759,1305436596
2          46701,95648597
3        10917,7849719239
4        26170,3728543336
               ...
99995    34127,5970136315
99996    27802,9530309299
99997    53243,0414812015
99998    60381,2440772309
99999    50544,1769736572
Name: last_balance, Length: 100000, dtype: object