# Python para el análisis de datos -  UNAV
---

# Pandas - Ejercicios

## Ejercicios<a name="ejercicios"></a> 
[Volver al índice](#indice)

#### Bloque 1: nucleos de población (NucleosPoblacion.csv)

Columnas:
- FID: el identificador de registro.
- Texto: nombre de la población.
- Poblacion: número de habitantes.
- CodMun: código postal.
- Municipio: nombre del municipio (usa este para los ejercicios).
- CodProvin: código provincia.
- Provincia: nombre de la provincia.
- X: longitud en grados.
- Y: latitud en grados.

Carga el fichero 'nucleos_poblacion.csv', explora con las funciones _head_ y _tail_ el principio y el final.

In [2]:
import pandas as pd

df = pd.read_csv("NucleosPoblacion.csv")
df.head()

,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y
0,0,1,Agüimes,29431.0,35002,Agüimes,35,Las Palmas,-15.446012,27.900542
1,1,2,Antigua,10458.0,35003,Antigua,35,Las Palmas,-14.013301,28.418966
2,2,3,Arrecife,58156.0,35004,Arrecife,35,Las Palmas,-13.551451,28.960649
3,3,4,Arucas,36745.0,35006,Arucas,35,Las Palmas,-15.521512,28.117496
4,4,5,Gáldar,24473.0,35009,Gáldar,35,Las Palmas,-15.654111,28.143873

¿Cuál es la ciudad más poblada?

In [5]:
df.sort_values("Poblacion",ascending=False)

,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y
355,355,356,Madrid,3273049.0,28079,Madrid,28,Madrid,-3.703797,40.416630
623,623,624,Barcelona,1619337.0,8019,Barcelona,8,Barcelona,2.176349,41.384247
561,561,562,Valencia,809267.0,46250,Valencia,46,València/Valencia,-0.375657,39.475344
492,492,493,Sevilla,704198.0,41091,Sevilla,41,Sevilla,-5.992514,37.386205
591,591,592,Zaragoza,675121.0,50297,Zaragoza,50,Zaragoza,-0.879287,41.656457
...,...,...,...,...,...,...,...,...,...,...
525,525,526,Buñol,10077.0,46077,Buñol,46,València/Valencia,-0.789866,39.418014
746,746,747,Premià de Dalt,10064.0,8230,Premià de Dalt,8,Barcelona,2.341580,41.508020
168,168,169,Amurrio,10050.0,1002,Amurrio,1,Álava,-3.000073,43.054278
115,115,116,Caldas de Reis,10045.0,36005,Caldas de Reis,36,Pontevedra,-8.642007,42.605883
307,307,308,Zumarraga,10037.0,20080,Zumarraga,20,Guipúzcoa,-2.323006,43.087693

¿Qué posición ocupa Granada en las más pobladas?. Las funciones *.sort_values()* y *.rank()* pueden ayudarte.

In [18]:
df["rank"] = df["Poblacion"].rank(ascending=False).astype(int)
df[df["Municipio"]=="Granada"]

,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y,rank
272,272,273,Granada,239154.0,18087,Granada,18,Granada,-3.600019,37.176419,18

In [14]:
df.sort_values("Poblacion",ascending=False).reset_index()

,index,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y,rank
0,355,355,356,Madrid,3273049.0,28079,Madrid,28,Madrid,-3.703797,40.416630,1
1,623,623,624,Barcelona,1619337.0,8019,Barcelona,8,Barcelona,2.176349,41.384247,2
2,561,561,562,Valencia,809267.0,46250,Valencia,46,València/Valencia,-0.375657,39.475344,3
3,492,492,493,Sevilla,704198.0,41091,Sevilla,41,Sevilla,-5.992514,37.386205,4
4,591,591,592,Zaragoza,675121.0,50297,Zaragoza,50,Zaragoza,-0.879287,41.656457,5
...,...,...,...,...,...,...,...,...,...,...,...,...
847,525,525,526,Buñol,10077.0,46077,Buñol,46,València/Valencia,-0.789866,39.418014,848
848,746,746,747,Premià de Dalt,10064.0,8230,Premià de Dalt,8,Barcelona,2.341580,41.508020,849
849,168,168,169,Amurrio,10050.0,1002,Amurrio,1,Álava,-3.000073,43.054278,850
850,115,115,116,Caldas de Reis,10045.0,36005,Caldas de Reis,36,Pontevedra,-8.642007,42.605883,851
851,307,307,308,Zumarraga,10037.0,20080,Zumarraga,20,Guipúzcoa,-2.323006,43.087693,852

Escribe el nombre de los 10 municipios con menor población.

In [19]:
df.sort_values("Poblacion",ascending=False).tail()

,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y,rank
525,525,526,Buñol,10077.0,46077,Buñol,46,València/Valencia,-0.789866,39.418014,848
746,746,747,Premià de Dalt,10064.0,8230,Premià de Dalt,8,Barcelona,2.341580,41.508020,849
168,168,169,Amurrio,10050.0,1002,Amurrio,1,Álava,-3.000073,43.054278,850
115,115,116,Caldas de Reis,10045.0,36005,Caldas de Reis,36,Pontevedra,-8.642007,42.605883,851
307,307,308,Zumarraga,10037.0,20080,Zumarraga,20,Guipúzcoa,-2.323006,43.087693,852

¿Cuántos municipios en Extremadura tienen más de 15000 habitantes?

In [ ]:
df[df["Municipio"]=="Granada"]

¿Cuál es el municipio situado más al Norte? Proporciona también la provincia a la que pertenece y su población.

¿Cuál es el municipio de la provincia de Granada situado más al Este?. ¿Cuál es el situado más al Oeste?.

¿Cuántos Municipios hay en un radio de 5 grados de la ciudad de Barcelona?.

Calcula la media, mediana, desviación estándar, valor máximo y valor mínimo de la población de los municipios de la provincia de Granada.

#### Bloque 2: estudio de rendimiento de estudiantes (student_performance_dataset.csv)

Columnas:
- 1: school - student's school (binary: 0 - Gabriel Pereira or 1 - Mousinho da Silveira). 
- 2: sex - student's sex (binary: 0 - female or 1 - male).
- 3: age - student's age (numeric: from 15 to 22).
- 4: address - student's home address type (binary: 0 - urban or 1 - rural). 
- 5: famsize - family size (binary: 0 - greater than 3 or 1 - less or equal to 3).
- 6: Pstatus - parent's cohabitation status (binary: 0 - apart or 1 - living together).
- 7: Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 - 5th to 9th grade, 3 - secondary education or 4 - higher education).
- 8: Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 - 5th to 9th grade, 3 - secondary education or 4 - higher education).
- 9: traveltime - home to school travel time (numeric: 1 - 15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - more than 1 hour).
- 10: studytime - weekly study time (numeric: 1 - less than 2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - more than 10 hours).
- 11: failures - number of past class failures (numeric: n if 1 less,equal than 3, else 4).
- 12: schoolsup - extra educational support (binary: 1 - yes or 0 - no).
- 13: famsup - family educational support (binary: 1 - yes or 0 - no).
- 14: paid - extra paid classes within the course subject (binary: 1 - yes or 0 - no).
- 15: activities - extra-curricular activities (binary: 1 - yes or 0 - no).
- 16: nursery - attended nursery school (binary: 1 - yes or 0 - no).
- 17: higher - wants to take higher education (binary: 1 - yes or 0 - no).
- 18: internet - Internet access at home (binary: 1 - yes or 0 - no).
- 19: romantic - with a romantic relationship (binary: 1 - yes or 0 - no).
- 20: famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent).
- 21: freetime - free time after school (numeric: from 1 - very low to 5 - very high).
- 22: goout - going out with friends (numeric: from 1 - very low to 5 - very high).
- 23: Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high).
- 24: Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high).
- 25: health - current health status (numeric: from 1 - very bad to 5 - very good).
- 26: absences - number of school absences (numeric: from 0 to 93).
- 27: G1 - first period grade (numeric: from 0 to 20).
- 28: G2 - second period grade (numeric: from 0 to 20). 
- 29: G3 - final grade (numeric: from 0 to 20, output target).

¿Cuántos estudiantes han sacado la máxima nota (20) en las notas finales (G3)?

Compara las medias de aquellos que reciben clases extra y estudian más de de 5 horas con aquellos que no reciben clases extra y estudian menos de 5 horas.

Calcula la media y la desviación estándar de las diferencias entre notas del segundo (G2) y primer semestre (G1). ¿Han mejorado los alumnos sus notas?

### Los salarios en la ciudad de Chicago

Vamos a jugar con un el dataset de los salarios en la ciudad de Chicago:
- Name: nombre de la persona 
- Position Title: nombre del trabajo que realiza
- Department: departamento en el que trabaja
- Employee Annual Salary: salario de la persona

Calcula el salario medio de los habitantes de chicago.

Calcula cuantos habitantes ganan mas que la media. (_count()_ te puede ayudar)

¿Cual es el departamento que emplea a mayor numero de personas?

¿Cual es el departamento que tiene un salario medio mayor?


Averigua cuales son los 5 departamentos con una media de salario mayor.

¿Cual es el departamento con mas puestos de trabajo distintos?

¿Cual es el trabajo mejor remunerado y en que departamento se realiza?

Averigua cuales son los trabajos de cada departamento que emplean a mayor numero de personas.

Calcula el intervalo de confianza al 95% de los salarios de la ciudad de Chicago

¿Cual es el departamento con mayor variabiliad de salarios?

Subir un 10% el salario a aquellas personas que esten en el top 5 de salarios mas bajos de su departamento

Compara estadisticamente si existen diferencias significativas entre los salarios de los diferentes departamentos. Para ello deberas utilizar una ANOVA de 1 factor independiente.

### Un estudio del tratamiento del cancer (sanity.csv)

El dataset contiene datos de un estudio realizado sobre pacientes con cancer de pulmon. Esta estructurado de la forma siguiente:

idbus --> identificador de la persona en el hospital  
sexo --> 0 (varon), 1 (mujer)  
edad --> edad de la persona  
altura --> altura de la persona en cm  
peso --> peso de la persona en kg  
tratamiento --> 0 (quimioterapia), 1 (radioterapia)  
supervivencia --> años de supervivencia desde el tratamiento

Calcula la supervivencia media de los participantes del estudio

Calcula cuantos sobreviven mas que la media. Y mas que la mediana?. El porcentaje de cada uno de los casos?

¿Cual es el grupo de personas (hombre o mujer) con mayor supervivencia?

¿Que tratamiento alarga mas la supervivencia la quimio o la radio?

En que grupo Hombre/Mujer y quimio/radio hay mayor supervivencia?

Asigna a una nueva columna que marque como ancianos a los mayores de 60 anios y jovenes al resto?

Puedes ver si las mujeres que pesan mas de 60 kilos sobreviven mas que las que pesan menos??

Parece influir si uno es anciano o no en la supervivencia??

Crea una nueva columna que te clasifique a las personas en base a su indice corporal segun el siguiente crtierio:

- Por debajo de 18.5:	Por debajo del peso  
- 18.5 a 24.9:	Saludable  
- 25.0 a 29.9:	Con sobrepeso  
- 30.0 a 39.9:	Obeso  
- Más de 40:	Obesidad extrema o de alto riesgo

¿Cual es el grupo de imc que mas riesgo de morir antes tiene?

Realiza un estudio comparativo que nos diga si existen diferencias entre la supervivencia de hombres y mujeres.

Realiza un intervalo de confianza del 95% que nos diga cual es la supervivencia de tratamiento, sexo, grupo de edad y grupo de IMC.

Anade una nueva columna al dataframe que nos diga en que percentil de supervivencia se encuentra cada persona.

La OMS ha publicado un estudio en el que se hayaron los siguientes resultados:

- Las personas menores de 40 anios tienen una supervivencia estimada del 15% menor que las mayores de esa edad
- Las mujeres tienen una supervivencia de un 5% mayor respecto a los hombres
- Las personas con sobrepeso tienen una supervivencia menor del 7.5% respecto a las que no padecen sobrepeso

Crea una funcion que utilizando _apply_ nos corrija la supervivencia de cada una de las personas en base a lo descrito anteriormente (lo puedes almacenar en una nueva columna llamada 'supervivencia_est'

Para simplificar puedes asumir que los porcentajes se acumulan de forma que una mujer delgada y anciana tendra una supervivencia estimada aumentada por la suma de todos los porcentajes descritos.